<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLiteConnection" connectionString="Data Source=Clientdatabase.db;" />
	</connectionStrings>
	<appSettings>
		<add key="UseDX" value="true" />  <!--If false, Uses standard WinForms-->
	</appSettings>
</configuration>
